services:
  consul:
    image: hashicorp/consul:1.22
    container_name: consul
    command: agent -server -bootstrap-expect=1 -ui -client=0.0.0.0
    ports:
      - "8500:8500"
    volumes:
      - ./data/consul:/consul/data
      - ./config/consul.hcl:/consul/config/consul.hcl

  vault-node1:
    image: hashicorp/vault:1.18
    container_name: vault-node1
    hostname: vault-node1
    command: vault server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config/vault-node1.hcl:/vault/config/vault.hcl
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
    ports:
      - "8300:8200"
    depends_on:
      - consul

  vault-node2:
    image: hashicorp/vault:1.18
    container_name: vault-node2
    hostname: vault-node2
    command: vault server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config/vault-node2.hcl:/vault/config/vault.hcl
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
    depends_on:
      - consul

  vault-node3:
    image: hashicorp/vault:1.18
    container_name: vault-node3
    hostname: vault-node3
    command: vault server -config=/vault/config/vault.hcl
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config/vault-node3.hcl:/vault/config/vault.hcl
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
    depends_on:
      - consul

# networks:
#   vault-net:
#     driver: bridge
